{% load static %}
<div class="products-container">
    {% for product in products %}
        <div class="product-container">
            <img src="{% static '/images/product_image.jpg' %}" class="product-img">
            <div class="card-body">
                <a href="#" class="card-title">{{product.name}}</a>
                <h3 class="product-price">$ {{product.price}}</h3>
                <small class="category">Categoria: {{product.category}}</small>
                <p class="description-container">{{product.description}}</p>
                <input type="button" value="Agregar al Carrito">
            </div>
        </div>
    {% endfor %}
</div>
