{% load static %}
<div class="products-container">
    {% for product in products %}
        <div class="product-container">
            <img src="{% static '/images/product_image.jpg' %}" class="product-img">
            <div class="card-body">
                <a href="#" class="product-title">{{product.name}}</a>
                <h2 class="product-price">$ {{product.price}}</h2>
                {% comment %} <small class="category">Categoria: {{product.category}}</small> {% endcomment %}
                <p class="description-container">{{product.description}}</p>
                <input type="button" value="Agregar al Carrito" class="button-add-chart">
            </div>
        </div>
    {% endfor %}
</div>
